<% include ../inc/header.ejs %>
<link href="../../assets/css/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
<% include ../inc/body.ejs %>
<script src="../../assets/js/util/jsencrypt.min.js"></script>

<div class="table-responsive" style="background-color: #fff;">
    <form id="opts-form">
        <table class="table table-striped">
            <tbody id="user-password">
            <input type="text" id="mobile" name="mobile" hidden>

            <tr>
                <td style="text-align: right;">
                    旧密码
                </td>
                <td>
                    <input required type="password" maxlength="20" name="oldPassword" id="oldPassword"
                           class="form-control"
                           onblur="validOldPwd()" placeholder="请输入您的旧密码  " value="">
                </td>
                <td class="form-item-remark " style="width: 60%;">*<span style="color:black">必填</span> &nbsp;&nbsp;<span
                            style="color:red;display: none;" id="oldshow">密码长度应该在 6 - 16 位</span></td>

            </tr>

            <tr>
                <td width="100px" style="text-align: right;">
                    新密码
                </td>
                <td>
                    <input required type="password" maxlength="20" name="password" id="password" class="form-control"
                           placeholder="请输入您的新密码"
                           onblur="checkRegular(this)" data-type="password" tips-id="show">
                </td>
                <td class="form-item-remark ">*<span style="color:black">必填</span> &nbsp;&nbsp;<span style="color:red;"
                                                                                                     id="show"></span>
                </td>

            </tr>


            <tr>
                <td width="100px" style="text-align: right;">
                    确认密码
                </td>
                <td>
                    <input required type="password" maxlength="20" name="passwordCheck" id="passwordCheck"
                           class="form-control" placeholder="请再次输入您的新密码"
                           value="" onblur="validCheckPwd()">
                </td>
                <td class="form-item-remark " id="hide">*<span style="color:black">必填</span> &nbsp;&nbsp;<span
                            style="color:red;display: none;" id="checkshow">密码必须与新密码一致</span></td>
            </tr>

            <td></td>
            <td rowspan="2">
                <button class="btn btn-white" type="button" onclick="updatePassword.reset(this);"
                        style="margin-right: 40px;">
                    重置
                </button>

                <button class="btn btn-primary" type="button" onclick="updatePassword.update(this);">
                    确定
                </button>

            </td>

            </tbody>
        </table>
    </form>
</div>

<script>

</script>

<% include ../inc/js.ejs %>
<!-- 私有脚本 start -->
<script src="../../js/userModule/_updatePassword.js"></script>
<!-- 私有脚本 end -->
<% include ../inc/footer.ejs %>
