<% include ../inc/header.ejs %>
<style>
    .date-table {
        overflow-y: auto;
    }
</style>
<% include ../inc/body.ejs %>
<!-- html主体代码 start -->
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="padding-top: 3px !important;">
                <div style="width: 140px; display: block;float: left;padding-top: 10px;">
                    学院部门信息管理
                </div>

                <div class="ibox-tools">
                    <button style="margin-top: 8px;" class="btn btn-primary btn-xs" type="button"
                            onclick="academyInfo.create(this);">
                        <i class="fa fa-plus"></i>&nbsp;新增
                    </button>
<!--                    <button style="margin-top: 8px;" class="btn btn-primary btn-xs" type="button"-->
<!--                            onclick="academyInfo.importModel(this);">-->
<!--                        <i class="fa fa-download"></i>&nbsp;下载学院部门信息模板-->
<!--                    </button>-->

<!--                    <button style="margin-top: 8px;" class="btn btn-primary btn-xs" type="button"-->
<!--                            onclick="academyInfo.import(this);">-->
<!--                        <i class="fa fa-plus"></i>&nbsp;导入学院部门信息-->
<!--                    </button>-->
                </div>
            </div>
            <div class="ibox-content data-view" style="overflow-y: auto;">
                <div class="input-group" style="width: 200px;display: flex">
                    <select style="min-width:200px;min-width: 200px;width: 200px;height: 34px" type="text"
                            id="select-campus"
                            class="input-sm form-control">
                        <option value=" ">全部校区</option>
                        <option value="1">东校区</option>
                        <option value="2">西校区</option>
                        <option value="3">武鸣校区</option>
                    </select>
                    <input style="min-width: 200px;width: 200px;" type="text" id="select-name" placeholder="请输入学院名称"
                           class="input-sm form-control"/>

                    <input style="min-width: 200px;width: 200px;" type="text" id="select-code" placeholder="请输入学院代码"
                           class="input-sm form-control"/>
                    <span class="input-group-btn">
                            <button onclick="academyInfo.select(this);" id="search_button"
                                    style="width: 50px;height: 34px" type="button"
                                    class="btn btn-sm btn-primary"> 搜索</button>
                        </span>
                </div>
                <div class="ibox-content data-view" style="overflow-y: auto;">
                    <div class="col-sm-12">
                        <div class=" col-sm-12 date-table">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>学院部门代码</th>
                                    <th>学院部门名称</th>
                                    <td>所在校区</td>
                                    <th>学院部门状态</th>


                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="item-list">

                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 pages M-box3 list-page">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- html主体代码 end -->
    <!-- 管理的课程模板 -->
    <script id="course-template" type="text/x-dot-template">
        {{ if(it.length == 0) { }}
        暂无数据
        {{ }else{ }}
        {{ for(var i=0;i
        <it.length;i++){ }}
        <tr>
            <td>
                {{= ((index-1) * size +i+1)}}
            </td>
            <td>
                {{= it[i].code}}
            </td>
            <td>
                {{= it[i].name}}
            </td>
            <td>
                {{= helper.campus(it[i].campus)}}
            </td>
            <td>
                {{= helper.status(it[i].status)}}
            </td>


            <td>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span
                                class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" data-id="{{= it[i].id}}" onclick="academyInfo.update(this);">修改</a>
                        </li>
                        <li>
                            <a href="#" data-id="{{= it[i].id}}" onclick="academyInfo.delete(this);">删除</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        {{ } }}
        {{ } }}
    </script>
    <script id="error-template" type="text/x-dot-template">
        {{ if(it.length == 0) { }}
        暂无数据
        {{ }else{ }}
        {{ for(var i=0;i < it.length;i++){ }}
        <tr>
            <td>
                {{=(i+1)}}
            </td>
            <td>
                {{= it[i].code|| ""}}
            </td>
            <td>
                {{= it[i].name || ""}}
            </td>
            <td>
                {{= it[i].campus|| ""}}
            </td>
            <td>
                {{= it[i].info || ""}}
            </td>
        </tr>
        {{ } }}
        {{ } }}
    </script>
    <% include ../inc/js.ejs %>
    <!-- 私有脚本 start -->
    <script src="../../js/baseModule/_academyInfo.js"></script>
    <!-- 私有脚本 end -->
    <% include ../inc/footer.ejs %>
