@charset "utf-8";
/* CSS Document */
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #6d6d6d;
}
html,body{ margin: 0px; padding: 0px; background-image:url(../images/backgroun.jpg); background-color: #FFFFFF; background-size: cover; background-repeat: no-repeat;text-align:center; height: 100%;}
.wellcome{ background-color: #FFFFFF;height: 55px; padding-left: 100px; padding-right: 100px;}
.wellcome-left{ float: left; margin-top: 5px;}
.wellcome-right{float: right;height: auto;width: auto; margin-top: 15px; margin-bottom: 15px;}
.wellcome-right .return-img{ float: left; height: auto; width: 21px; margin-right: 10px;}
.wellcome-right .return-txt{ float: right;}
.main-center{background-color: #FFFFFF;  padding:20px 80px 20px 80px; width: 450px;height:350px;margin: auto; margin-top: 120px; border-radius:5px;}
.main-center .main-txt{font-size: 24px;font-weight: 500; letter-spacing:5px; }
.line{  width: 300px; margin: auto; height: 40px; margin-top: 10px;background-color: #fff; border:1px solid #ccc; border-radius:5px;}
.line-img{ width: 40px;height: 30px;float: left;padding: 5px;}
.required{width: 255px;height: 38px; float: right; border: 0px; border-left:1px solid #ccc;padding-left: 6px;  border-radius:2px; font-size: 16px;}
.button-style{ background-color: #e65100; border: none; color: white; width: 300px; height: 42px; margin-top: 15px; font-size: 16px; border-radius:5px;}   
.line-cold{  width: 170px; margin: auto; height: 40px; margin-top: 10px;background-color: #fff; border:1px solid #ccc; float: left; border-radius:5px;}
.cold{width: 125px;height: 38px; float: right; border: 0px; border-left:1px solid #ccc;padding-left: 6px; font-size: 16px;}
.yanzm{ float: right; margin-top: 10px; height: 42px;}

.password-hidden{
    background-image: url(../images/close.png);
    background-size: 25px 25px;
    position: absolute;
    top: 50%;
    user-select: none;
    right: 0px;
    margin-top: -18px;
    background-position: 0 center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    text-indent: -9999em;
    width: 44px;
}
.password-show{
    background-image: url(../images/open.png);
    background-size: 25px 25px;
    position: absolute;
    top: 50%;
    user-select: none;
    right: 0px;
    margin-top: -18px;
    background-position: 0 center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    text-indent: -9999em;
    width: 44px;
}
