<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <a class="btn btn-success btn-rounded t-ripple" href="javascript:optCreate()">
                    <i class="fa fa-plus"></i>
                    新 建
                </a>
                <a class="btn btn-primary btn-rounded t-ripple" href="javascript:">
                    <i class="fa fa-gear"></i>
                    编 辑
                </a>
                <a class="btn btn-danger btn-rounded t-ripple" href="javascript:">
                    <i class="fa fa-remove"></i>
                    删 除
                </a>
            </div>
        </div>
    </div>
</div>
