<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>作业管理系统找回密码</title>
    <link rel="stylesheet" href="login/css/forgetpassword.css">
    <link rel="stylesheet" href="login/bs/css/bootstrap.min.css">
</head>
<body>
<!-- begin -->
<div class="wellcome">
    <div class="wellcome-left">
<!--        <img src="login/images/logo.png"/>-->
    </div>
    <div class="wellcome-right">
        <a href="../login">
            <div class="return-img">
                <img src="login/images/return.png" width="100%"/>
            </div>
            <div class="return-txt">
                返回登录
            </div>
        </a>
    </div>
</div>
<form way-data="optForm" way-persistent="true" class="container offset1 loginform">
    <div class="main">
        <input type="hidden" name="_csrf" value="9IAtUxV2CatyxHiK2LxzOsT6wtBE6h8BpzOmk=">
        <div class="main-center">
            <div class="main-txt">
                找回密码
            </div>
            <div class="line">
                <div class="line-img">
                    <img src="login/images/phone.png" width="100%">
                </div>
                <input id="phone" name="phone" class="required" placeholder="请输入手机号" size="34" type="text"
                       tabindex="1" onblur="isPone(this.value)">
            </div>
            <div style="display: flex">
                <div style="flex: 8" class="line-cold">
                    <div class="line-img">
                        <img src=" login/images/validation.png" width="100%">
                    </div>
                    <input id="verifyCode" class="cold" autocomplete="off" name="verifyCode" placeholder="请输入验证码"
                           size="34" type="text" tabindex="3" maxlength="6">
                </div>
                <input id="code" type="button"
                       style="margin: 10px 0 0 10px;float:right;width: 110px;height: 40px;font-size: 15px"
                       class="btn btn-warning" value="发送验证码">
            </div>

            <div class="line" style="position: relative;">
                <div class="line-img">
                    <img src="login/images/lock.png" width="100%">
                </div>
                <input id="newPassword1" name="newPassword1" class="required" placeholder="请输入新密码" size="34"
                       onblur="checkRegular(this)" data-type="password" tips-id="retrieve-message" type="password"
                       tabindex="2">
                <div class="password-hidden" id="passwordeye"></div>
            </div>
            <div class="line" style="position: relative;">
                <div class="line-img">
                    <img src="login/images/secondepassword.png" width="100%">
                </div>
                <input id="newPassword2" name="newPassword2" class="required" placeholder="再次输入新密码"
                       onblur="checkRegular(this)" data-type="password" tips-id="retrieve-message" size="34"
                       type="password" tabindex="2">
                <div class="password-hidden" id="passwordeye2"></div>
            </div>
            <!--<div class="line-cold">-->
            <!--<div class="line-img">-->
            <!--<img src="  login/images/validation.png" width="100%">-->
            <!--</div>-->
            <!--<input id="verifyCode" class="cold" autocomplete="off" name="verifyCode" placeholder="&nbsp&nbsp请输入验证码"-->
            <!--size="34" type="text" tabindex="3" maxlength="6">-->
            <!--</div>-->
            <!--<input id="code" type="button"-->
            <!--style="margin-top: 10px;float:right;width: 110px;height: 40px;font-size: 15px"-->
            <!--class="btn btn-warning" value="发送验证码">-->
            <div class="button">
                <span style="display: block;float: left;color:red;" id="retrieve-message"></span>
                <button id="retrieve" type="button" autocomplete="off" data-loading-text="认证中..." tabindex="4"
                        class="button-style">确定
                </button>
            </div>
        </div>
    </div>
</form>


<script src="assets/js/jquery.min.js"></script>
<script>
    //判断JS是否支持
    //console.log(navigator);
    if (!window.jQuery) {
        alert("您当前正在使用" + navigator.appName + "浏览器，因安全考虑，本站暂不支持IE10以下内核浏览器访问；请使用IE10+内核浏览器、QQ浏览器、谷歌浏览器、火狐浏览器、Opera浏览器、360极速浏览器最新版进行访问！");
    } else {
        if (navigator.appName == "Microsoft Internet Explorer") {
            if (navigator.appVersion.match(/7./i) == '6.' ||
                navigator.appVersion.match(/7./i) == '7.' ||
                navigator.appVersion.match(/7./i) == '8.' ||
                navigator.appVersion.match(/7./i) == '9.') {
                alert("您当前正在使用" + navigator.appName + "浏览器，因安全考虑，本站暂不支持IE10以下内核浏览器访问；请使用IE10+内核浏览器、QQ浏览器、谷歌浏览器、火狐浏览器、Opera浏览器、360极速浏览器最新版进行访问！");

            }

        }
    }

</script>
<script src="assets/js/bootstrap.min.js?v=3.3.6"></script>
<script src="assets/js/config.js"></script>
<script src="assets/js/way.js"></script>
<script src="assets/js/util/store.min.js"></script>
<script src="assets/js/util/tools.js"></script>
<script src="assets/js/routes.js"></script>
<script src="assets/js/plugins/sweetalert/sweetalert.min.js"></script>
<link href="assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

<script>
    //显示隐藏对应的switchPwd()方法:
    function switchPwd() {
        var passwordeye = $('#passwordeye');
        var showPwd = $("#newPassword1");
        passwordeye.off('click').on('click', function () {
            if (passwordeye.hasClass('password-hidden')) {
                passwordeye.removeClass('password-hidden').addClass('password-show');//密码可见
                showPwd.prop('type', 'text');
            } else {
                passwordeye.removeClass('password-show').addClass('password-hidden');//密码不可见
                showPwd.prop('type', 'password');
            }
            ;
        });
    }

    switchPwd();

    function switchnPwd() {
        var passwordeye = $('#passwordeye2');
        var showPwd = $("#newPassword2");
        passwordeye.off('click').on('click', function () {
            if (passwordeye.hasClass('password-hidden')) {
                passwordeye.removeClass('password-hidden').addClass('password-show');//密码可见
                showPwd.prop('type', 'text');
            } else {
                passwordeye.removeClass('password-show').addClass('password-hidden');//密码不可见
                showPwd.prop('type', 'password');
            }
            ;
        });
    }

    switchnPwd();


    var $btnRetrieve;
    var $btnCode;
    var verifyToken;
    $(function () {

        $('#newPassword1').val('');
        $('#newPassword2').val('');
        $('#phone').val('');
        $('#verifyCode').val('');

        //回车事件
        document.onkeydown = function (e) {
            var ev = document.all ? window.event : e;
            if (ev.keyCode == 13) {
                retrieve();
            }
        }

        $btnCode = $('#code');
        $btnCode.click(function () {
            getVerifyCode();
        })

        $btnRetrieve = $('#retrieve');
        $btnRetrieve.click(function () {
            retrieve();
        })
    });

    function getVerifyCode() {
        $('#verifyCode').val("");
        var phone = getVal('phone');

        if (phone.length == 0) {
            setMessage('请输入手机号');
            $('#phone').focus();
            return false;
        }

        if (!isPone(phone)) {
            setMessage('请输入正确的手机号');
            $('#phone').focus();
            return false;
        }


        loadingTime(60);

        var request = $.ajax({
            type: 'GET',
            url: commonModule.sysVerifyCodeApi + "/" + phone,
            error: function (d) {
                setMessage(d.responseJSON.message);
            },
            success: function (d) {
                verifyToken = d.result;

            }
        });

        request.done(function (res) {
            verifyToken = res.result;

        })
    }

    function retrieve() {
        var data = way.get().optForm;
        //  console.log(data);
        if (getVal('phone').length == 0) {
            setMessage('请输入手机号');
            $('#phone').focus();
            return false;
        }

        if (!isPone(data['phone'])) {
            setMessage('请输入正确的手机号');
            $('#phone').focus();
            return false;
        }

        if (getVal('newPassword1').length == 0) {
            setMessage('请输入新密码');
            $('#password').focus();
            return false;
        }
        if (getVal('newPassword2').length == 0) {
            setMessage('请再次输入新密码');
            $('#newPassword2').focus();
            return false;
        }
        if (getVal('verifyCode').length == 0) {
            setMessage('请输入手机验证码');
            $('#verifyCode').focus();
            return false;
        }

        if (getVal('newPassword1') != getVal('newPassword2')) {
            setMessage('密码不一致');
            $('#newPassword2').focus();
            return false;
        }

        loading(true);

        $.ajax({
            type: 'GET',
            url: commonModule.getPublicKeyApi,
            headers: {
                "Access-Control-Allow-Origin": "*",
                "token": verifyToken
            },
            async: false,
            error: function (d) {
                setMessage(d.message)
            },
            success: function (d) {
                var key = d.result;
                var Encrypt = new JSEncrypt();
                Encrypt.setPublicKey(key);
                data['newPassword1'] = Encrypt.encrypt(data['newPassword1']);
                data['newPassword2'] = Encrypt.encrypt(data['newPassword2']);

            }
        });

        $.ajax({
            type: 'POST',
            url: commonModule.sysForgetApi,
            data: JSON.stringify(data),
            headers: {
                "Access-Control-Allow-Origin": "*",
                "token": verifyToken
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (e) {
                var res = e.responseJSON;
                setMessage(res.message);
                loading(false);
                $('#verifyCode').focus();
                $('#verifyCode').val('');
            },
            success: function (d) {
                loading(false);
                swal({
                        title: "密码重置成功，请使用新密码进行登录！",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        closeOnConfirm: false
                    },
                    function () {
                        window.location.href = server_root + 'login';
                    }
                );

            }
        });
    }

    function getVal(_id) {
        var id = '#' + _id;
        return $(id).val().trim();
    }

    function setMessage(_message) {
        $('#retrieve-message').html(_message);
    }


    function loading(flag) {
        if (flag) {
            $btnRetrieve.button('loading')
        } else {
            $btnRetrieve.button('reset')
        }
    }


    function isPone(phone) {
        var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
        if (!myreg.test(phone)) {
            setMessage('请输入正确的手机号');
            return false;
        } else {
            setMessage('');
            return true;
        }
    }


    function loadingTime(waitTime) {
        $("#code").attr("disabled", true);
        var i = 1;
        for (i = 1; i <= waitTime; i++) {
            window.setTimeout("updateTime(" + i + "," + waitTime + ")", i * 1000);
        }
    }


    function updateTime(num, waitTime) {
        if (num == waitTime) {
            $("#code").val(" 重新发送 ");
            $("#code").attr("disabled", false);
        } else {
            var printnr = waitTime - num;
            $('#code').val("" + printnr + "S");
        }
    }

</script>
</body>
</html>
