<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>启航训练营自建oos服务器测试</title>
</head>
<body>
<form action="oos/upload" enctype="multipart/form-data" method="post">
    <p>附件：<input type="file" name="myfile"></p>
    <p>
        <input type="submit" value="提交">
    </p>
</form>
</body>
