<% include ../inc/header.ejs %>
<style>
    .date-table {
        overflow-y: auto;
    }
</style>
<% include ../inc/body.ejs %>
<!-- html主体代码 start -->
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="padding-top: 3px !important;">
                <div style="width: 80px; display: block;float: left;padding-top: 10px;">
                    数据字典
                </div>

                <div class="ibox-tools">
                    <button style="margin-top: 8px;" class="btn btn-primary btn-xs" type="button"
                            onclick="dictionary.create(this);">
                        <i class="fa fa-plus"></i>&nbsp;新增
                    </button>
                </div>

            </div>
            <div class="ibox-content data-view" style="overflow-y: auto;">
                <div class="col-sm-12">
                    <div class=" col-sm-12 date-table">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>排序</th>
                                <th>名称</th>
                                <th>字段名</th>
                                <th>代码</th>
                                <th>值</th>
                                <th>说明</th>
                                <th>状态</th>

                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="item-list">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 pages M-box3 list-page">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- html主体代码 end -->
<!-- 管理的课程模板 -->
<script id="dictionary-template" type="text/x-dot-template">
    {{ if(it.length == 0) { }}
    暂无数据
    {{ }else{ }}
    {{ for(var i=0;i
    <it.length;i++){ }}
    <tr>
        <td>{{= it[i].rank}}</td>
        <td>{{= it[i].name}}</td>
        <td>{{= it[i].fieldName}}</td>
        <td>{{= it[i].code}}</td>
        <td>{{= it[i].value}}</td>
        <td>{{= it[i].explain}}</td>
        <td>{{= helper.status(it[i].status)}}</td>
        <td>
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="dictionary.update(this);">修改</a>
                    </li>
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="dictionary.delete(this);">删除</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    {{ } }}
    {{ } }}
</script>

<% include ../inc/js.ejs %>
<!-- 私有脚本 start -->
<script src="../../js/sysModule/_dictionary.js"></script>
<!-- 私有脚本 end -->
<% include ../inc/footer.ejs %>