<% include ../inc/header.ejs %>
<style>
    .date-table {
        overflow-y: auto;
    }
</style>

<% include ../inc/body.ejs %>
<!-- html主体代码 start -->
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="padding-top: 3px !important;">
                <div style="width: 140px; display: block;float: left;padding-top: 10px;">
                    消息提醒列表
                </div>
                <div class="ibox-content">
                    <div class="input-group" style="width: 200px; display: flex">
                        <input style="width: 200px;height:30px;" type="text" id="select-key" placeholder="请输入学号"
                               class="input-sm form-control">
                        <span class="input-group-btn" style="float:left;flex: 4">
                            <button onclick="message.select(this);" id="search_button" style="width: 50px;"
                                    type="button" class="btn btn-sm btn-primary"> 搜索</button>
                        </span>
                    </div>

                </div>
                <div class="ibox-tools">
                    <button style="margin-top: 8px;" class="btn btn-primary btn-xs" type="button"
                            onclick="message.send(this);">
                        <i class="fa fa-plus"></i>&nbsp;消息推送
                    </button>
                </div>

            </div>
            <div class="ibox-content data-view" style="overflow-y: auto;">
                <div class="col-sm-12">
                    <div class=" col-sm-12 date-table">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>用户学号/工号</th>
                                <th>姓名</th>
                                <th>目的服务器</th>
                                <th>通知类型</th>
                                <th>主题</th>
                                <th>内容</th>
                                <th>发送时间</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="item-list">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 pages M-box3 list-page">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- html主体代码 end -->
<!-- 管理的消息提醒模板 -->
<script id="message-template" type="text/x-dot-template">
    {{ if(it.length == 0) { }}
    暂无数据
    {{ }else{ }}
    {{ for(var i=0;i < it.length;i++){ }}
    <tr>
        <td>
            {{= ((index-1) * size +i+1)}}
        </td>
        <td>
            {{= it[i].number||""}}
        </td>
        <td>
            {{= it[i].name||""}}
        </td>
        <td>
            {{= helper.server(it[i].server)||""}}
        </td>
        <td>
            {{= helper.type(it[i].type)||""}}
        </td>
        <td>
            {{= it[i].topic||""}}
        </td>
        <td>
            {{= it[i].content||""}}
        </td>
        <td>
            {{= it[i].sendTimeStr||""}}
        </td>
        <td>
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="message.read(this);">查看</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    {{ } }}
    {{ } }}
</script>
<% include ../inc/js.ejs %>

<!-- 私有脚本 start -->
<script src="../../js/sysModule/_message.js"></script>
<!-- 私有脚本 end -->
<% include ../inc/footer.ejs %>