<!DOCTYPE html public "-//w3c//dtd xhtml 1.0 transitional//en"
        "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8">
    <title>入党申请书模板</title>
    <meta name="keywords" content="desktop">
    <meta name="description" content="desktop">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv=“X-UA-Compatible” content=“IE=8″>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="../css/applicationTemplate.css" rel="stylesheet">
</head>

<body>

<div class="header">
</div>

<div class="content">
    <div class="left">
        <li>入党申请书</li>
        <li>思想汇报</li>
    </div>

    <div class="right">
        <div class="title">入党申请书>模板</div>

        <div class="details">
            <div class="main">
                <div class="btn">

                    <!--<a class="btn jquery-word-export" href="javascript:void(0)">导出为.doc文档</a>-->
                    <button><a class="btn jquery-word-export" href="javascript:void(0)">下载模板</a></button>
                </div>

                <div class="detail_title">&nbsp;&nbsp;格式说明：</div>
                <br>

                <div class="detail_content" id="specification">
                    <pre style="font-size: 14px">
1. 标题：居中写“入党申请书”。
2. 称谓：即申请人对党组织的称呼，写“敬爱的党组织”。顶格书写在标题的下一行，后面加冒号。
3. 正文：主要内容包括：①对党的认识、入党动机和对待入党的态度。写这部分时应表明自己的入党愿望。
                       ②个人在政治、思想、学习、工作等方面的主要表现情况。
                       ③今后努力方向以及如何以实际行动争取入党。
4. 结尾：申请书的结尾主要表达清党组织考察的心情和愿望，可以用“请党组织在实践中考验我”或“请党
         组织看我的实际行动”等作为结束语。全文的结尾用“此致，敬礼”。
         在申请书的最后，要署名和注明申请日期。右对齐书写“申请人×××”，下一行写上“××××年××月××日”。
                    </pre>
                </div>

                <div class="detail_title">&nbsp;&nbsp;注意事项：</div>
                <br>
                <div class="detail_content" id="Notes">
                <pre style="font-size: 14px;">
1：年满十八周岁的共青团员方可递交入党申请书。
2：申请书应用黑色方格信纸书写，纸上不能印刷有其他字样。
3：两个阿拉伯数字占用1格，署名以及日期左对齐。
4：字数要求1500字以上。
5：申请书应用黑色签字笔写，字迹端正、字体清晰不出方格，不得有涂改及错别字，保持书面整洁。
   写完确认无误后用铅笔在首页右上角空白处写上自己的班级和姓名，若申请书格式错误，退回修改！
                </pre>

                    <div class="detail_content" id="template" style="display: none;">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<script src="../js/jquery.min.js"></script>
<script src="../../../public/assets/js/jquery.min.js?v=2.1.4"></script>
<script src="../../../public/assets/js/bootstrap.min.js?v=3.3.6"></script>

<script src="../js/file_saver/FileSaver.js"></script>
<script src="../../../public/assets/js/util/tools.js"></script>
<script src="../js/file_saver/jquery.wordexport.js"></script>
<script src="../../../public/assets/js/util/store.min.js"></script>
<script src="../../../public/assets/js/config.js"></script>
<script src="../../../public/assets/js/routes.js"></script>
<script src="../../../public/assets/js/util/ajax.js"></script>

<script src="../../js/_applicationTemplate.js"></script>

</body>
</html>
