<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>PC端顶部</title>
<link href="../css/topstyle.css" rel='stylesheet' type='text/css' />
 <!-- Bootstrap Core CSS -->
<link href="../css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="../css/font-awesome.min.css" rel="stylesheet">
<!-- jQuery -->
<script src="../js/jquery.min.js"></script>
</head>
<body>

 	  <div class="foot">
			<div class="clear" style="clear:both"></div>
				<div class="foot-menu menu">
						<ul>
							<a href="" ><li class="nav_pr no1">首页</li></a>
							<li class="divide">|</li>
							<a href="" ><li class="nav_pr">课程安排</li></a>
							<li class="divide">|</li>
							<a href="" ><li class="nav_pr">网课学习</li></a>
							<li class="divide">|</li>
							<a href="" ><li class="nav_pr">入党申请书</li></a>
							<li class="divide">|</li>
							<a href="" ><li class="nav_pr">思想汇报</li></a>
							<li class="divide">|</li>
							<a href="" ><li class="nav_pr">会议记录</li></a>
							<li class="divide">|</li>
							<a href="" ><li class="nav_pr">考察记录</li></a>
							<li class="divide">|</li>
							<a href="" ><li class="nav_pr no8">每月一测</li></a>
						</ul>
					</div>
			<div class="foot-below">
			<div class="clear" style="clear:both"></div>
				<div class="foot-txt">
					coprright © 16软件第一小组
				</div>
			</div>
      	</div>
	</div>






           <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>
