<!DOCTYPE html public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8">
    <title>新闻详情</title>
	<meta name="keywords" content="desktop">
    <meta name="description" content="desktop">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv=“X-UA-Compatible” content=“IE=8″>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link href="../css/detail.css" rel="stylesheet">
</head>

<body >
	<div class="header">
	
	</div>
	<div class="content">
		<div class="left">
				<li >通知公告</li>
				<li>时事新闻</li>
		</div>
		<div class="right">
			<div class="location">时事新闻>详情</div>
			<div class="details">
				<div class="title">广西民族大学第三届”民族研究研习营“讲座信息</div>
				<div class="small">
					<div class="time">时间：2018/09/20</div>
					<div class="source">来源：广西民族大学</div>
					<div class="browse">浏览次数：220</div>
				</div>
				<div class="text">
					<p>7月6日，广西民族大学第三届”民族研究研习营“讲座信息广西民族大学第三届”民族研究研习营“讲座信息广西民族大学第三届”民族研究研习营“讲座信息广西民族大学第三届”民族研究研习营“讲座信息广西民族大学第三届”民族研究研习营“讲座信息广西民族大学第三届”民族研究研习营“讲座信息广西民族大学第三届”民族研究研习营“讲座信息广西民族大学第三届”民族研究研习营“讲座信息</p>
					<img src="../images/newsAirticleImage.png" />
					<p>广西民族大学第三届”民族研究研习营“讲座信息广西民族大学第三届”民族研究研习营“讲座信息广西民族大学第三届”民族研究研习营“讲座信息广西民族大学第三届”民族研究研习营“讲座信息广西民族大学第三届”民族研究研习营“讲座信息广西民族大学第三届”民族研究研习营“讲座信息广西民族大学第三届”民族研究研习营“讲座信息广西民族大学第三届”民族研究研习营“讲座信息。</p>
.					
				</div>
				<div class="last"><a href="#">上一篇&nbsp;&nbsp;/&nbsp;&nbsp;</a><a href="#">下一篇</a></div>
			</div>
		</div>
	</div>

</body>
</html>
