<!DOCTYPE html public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8">
    <title>通知公告</title>
	<meta name="keywords" content="desktop">
    <meta name="description" content="desktop">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv=“X-UA-Compatible” content=“IE=8″>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link href="../css/notice.css" rel="stylesheet">
</head>

<body >
	<div class="header">	
	</div>

	<div class="content">
		<div class="left">
				<li>通知公告</li>
				<li>时事新闻</li>
		</div>

		<div class="right">
			<div class="title">通知公告列表</div>
			<div class="details">	
			     <li>  
				   <div class="main">
				          <div class="date">
						  <div class="date-day">18</div>
						  <div class="date-my">2018/08</div>
						  </div>

						  <div class="main-content">
						  <div class="content-title">广西民族大学第三届“中国与东南亚国家跨国民族研究学习营”讲座信息</div>
						  <div class="contents">广西民族大学第三届“中国与东南亚国家跨国民族研究学习营”将于2018年7月17日上午开营。
							  本次研习营将邀请我校与国内长期关注”东盟他们将结合个人的学术经历、中国南方与东南亚跨国民族研究热点及......“</div>
						  <div class="form">来源：广西民族大学</div>
						  </div>
				   </div>
                 </li>

				  <li>  
				   <div class="main">
				          <div class="date">
						  <div class="date-day">18</div>
						  <div class="date-my">2018/08</div>
						  </div>

						  <div class="main-content">
						  <div class="content-title">广西民族大学第三届“中国与东南亚国家跨国民族研究学习营”讲座信息</div>
						  <div class="contents">广西民族大学第三届“中国与东南亚国家跨国民族研究学习营”将于2018年7月17日上午开营。
							  本次研习营将邀请我校与国内长期关注”东盟他们将结合个人的学术经历、中国南方与东南亚跨国民族研究热点及......“</div>
						  <div class="form">来源：广西民族大学</div>
						  </div>
				   </div>
                 </li>

				  <li>  
				   <div class="main">
				          <div class="date">
						  <div class="date-day">18</div>
						  <div class="date-my">2018/08</div>
						  </div>

						  <div class="main-content">
						  <div class="content-title">广西民族大学第三届“中国与东南亚国家跨国民族研究学习营”讲座信息</div>
						  <div class="contents">广西民族大学第三届“中国与东南亚国家跨国民族研究学习营”将于2018年7月17日上午开营。
							  本次研习营将邀请我校与国内长期关注”东盟他们将结合个人的学术经历、中国南方与东南亚跨国民族研究热点及......“</div>
						  <div class="form">来源：广西民族大学</div>
						  </div>
				   </div>
                 </li>



			</div>

		</div>
	</div>

</body>
</html>
