<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>PC端顶部</title>
<link href="../css/topstyle.css" rel='stylesheet' type='text/css' />
 <!-- Bootstrap Core CSS -->
<link href="../css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="../css/font-awesome.min.css" rel="stylesheet">
<!-- jQuery -->
<script src="../js/jquery.min.js"></script>
</head>
<body>
	<div id="wrapper">
	  <div class="top">
       	<nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <img src="../images/logo.png" style="margin: 10px;">
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
	        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><img src="../images/message_02.png" /><span class="badge">1</span></a>
	        		<ul class="dropdown-menu">
						<li class="avatar">
							<a href="#">
								<div>New message</div>
								<small>1 minute ago</small>
								<span class="label label-info">NEW</span>
							</a>
						</li>
						<li class="avatar">
							<a href="#">
								<div>New message</div>
								<small>1 minute ago</small>
							</a>
						</li>
						<li class="dropdown-menu-footer text-center">
							<a href="#">View all messages</a>
						</li>
	        		</ul>
	      		</li>
           		<li class="dropdown">
	        		<a href="#" class="dropdown-toggle avatar" data-toggle="dropdown"><img src="../images/1-bak.png"></a>
	        		<ul class="dropdown-menu">
						<li class="dropdown-menu-header text-center">
							<strong>Account</strong>
						</li>
						<li class="m_2"><a href="#"><i class="fa fa-bell-o"></i> Updates </a></li>
						<li class="m_2"><a href="#"><i class="fa fa-envelope-o"></i> Messages </a></li>
						<li><a href="#"><i class="fa fa-comments"></i> Comments</a></li>
	        		</ul>
	      		</li>


			</ul>

            <!-- /.navbar-static-side -->
        </nav>
        <div class="menu">
			<ul>
				<a href="" ><li class="nav_pr no1">首页</li></a>
				<li class="divide">|</li>
				<a href="" ><li class="nav_pr">课程安排</li></a>
				<li class="divide">|</li>
				<a href="" ><li class="nav_pr">网课学习</li></a>
				<li class="divide">|</li>
				<a href="" ><li class="nav_pr">入党申请书</li></a>
				<li class="divide">|</li>
				<a href="" ><li class="nav_pr">思想汇报</li></a>
				<li class="divide">|</li>
				<a href="" ><li class="nav_pr">会议记录</li></a>
				<li class="divide">|</li>
				<a href="" ><li class="nav_pr">考察记录</li></a>
				<li class="divide">|</li>
				<a href="" ><li class="nav_pr no8">每月一测</li></a>
			</ul>
		</div>
 </div>
 	  <div class="main">
 	  	此处添加页面中间部分代码
 	  </div>
 	  <div class="foot">
			<div class="clear" style="clear:both"></div>
				<div class="foot-menu menu">
						<ul>
							<a href="" ><li class="nav_pr no1">首页</li></a>
							<li class="divide">|</li>
							<a href="" ><li class="nav_pr">课程安排</li></a>
							<li class="divide">|</li>
							<a href="" ><li class="nav_pr">网课学习</li></a>
							<li class="divide">|</li>
							<a href="" ><li class="nav_pr">入党申请书</li></a>
							<li class="divide">|</li>
							<a href="" ><li class="nav_pr">思想汇报</li></a>
							<li class="divide">|</li>
							<a href="" ><li class="nav_pr">会议记录</li></a>
							<li class="divide">|</li>
							<a href="" ><li class="nav_pr">考察记录</li></a>
							<li class="divide">|</li>
							<a href="" ><li class="nav_pr no8">每月一测</li></a>
						</ul>
					</div>
			<div class="foot-below">
			<div class="clear" style="clear:both"></div>
				<div class="foot-txt">
					copyright © 16软件第一小组
				</div>
			</div>
      	</div>
	</div>






           <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>
