<div class="foot">
    <div class="clear" style="clear:both"></div>
    <div class="foot-menu menu">
<!--        <ul>-->
<!--            <a href="/" id="footer_index">-->
<!--                <li class="nav_pr">首页</li>-->
<!--            </a>-->
<!--            <li class="divide">|</li>-->
<!--            <a href="meetingList">-->
<!--                <li class="nav_pr">会议安排</li>-->
<!--            </a>-->
<!--            <li class="divide">|</li>-->
<!--            <a href="courseArrangementList">-->
<!--                <li class="nav_pr">课程安排</li>-->
<!--            </a>-->
<!--            <li class="divide">|</li>-->
<!--            <a href="videoList">-->
<!--                <li class="nav_pr">网课学习</li>-->
<!--            </a>-->
<!--            <li class="divide">|</li>-->
<!--            <a href="examList">-->
<!--                <li class="nav_pr">作业</li>-->
<!--            </a>-->
<!--            <li class="divide">|</li>-->
<!--            <a href="applicationManage">-->
<!--                <li class="nav_pr">入党申请书</li>-->
<!--            </a>-->
<!--            <li class="divide">|</li>-->
<!--            <a href="thoughReportList" target="view_window">-->
<!--                <li class="nav_pr">思想汇报</li>-->
<!--            </a>-->
<!--            <li class="divide">|</li>-->
<!--            <a href="surveyRecordList">-->
<!--                <li class="nav_pr">考察谈话</li>-->
<!--            </a>-->


<!--        </ul>-->
    </div>
    <div class="foot-below">
        <div class="clear" style="clear:both"></div>
        <div class="foot-txt">
            copyright © 16软件第一小组
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#footer_index").attr("href", server_root);
    })
</script>




