<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td colspan="3" style="text-align: center">
                    注：数据权限模式要求数据库表必须有number字段。
                </td>
            </tr>

            <tr>
                <td class="form-item-title">
                    选择生成模式
                </td>
                <td>
                    <select required type="text" name="type" id="type" maxlength="20" class="form-control">
                        <option value=1 selected="selected">常规模式</option>
                        <option value=2>数据权限模式</option>
                    </select>
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span></span></td>
            </tr>


        </table>
    </form>
</div>