<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    排序
                </td>
                <td>
                    <input required type="text" name="rank" maxlength="20" class="form-control"
                           placeholder="请输入排序">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    名称
                </td>
                <td>
                    <input required type="text" name="name" maxlength="20" class="form-control"
                           placeholder="请输入名称">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    字段名
                </td>
                <td>
                    <input required type="text" name="fieldName" maxlength="20" class="form-control"
                           placeholder="请输入字段名">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    代码
                </td>
                <td>
                    <input required type="text" name="code" maxlength="20" class="form-control"
                           placeholder="请输入代码">
                </td>
            </tr>

            <tr>
                <td class="form-item-title">
                    值
                </td>
                <td>
                    <input required type="text" name="value" maxlength="20" class="form-control"
                           placeholder="请输入值">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    说明
                </td>
                <td>
                    <input required type="text" name="explain" maxlength="200" class="form-control"
                           placeholder="请输入说明">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    状态
                </td>
                <td>
                    <select required type="text" name="status" maxlength="20" class="form-control">
                        <option value=1>启用</option>
                        <option value=2>禁用</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>


        </table>
    </form>
</div>