<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">

            <tr>
                <td class="form-item-title">
                    课程
                </td>
                <td>
                    <select required name="courseNumber" id="courseNumber" class="form-control"
                            placeholder="请选择课程" onchange="exam.selectCourse(this)">

                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    布置班级
                </td>
                <td>

<!--                    <ul id="classId" class="ztree">-->
<!--                    </ul>-->

                    <select required name="classId" id="classId" class="form-control"
                            placeholder="请选择班级">

                    </select>

                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    作业名称
                </td>
                <td>
                    <input required type="text" name="name" id="name" tips-id="name-tips" data-length="255"
                           maxlength="20" onblur="checkRegular(this);" class="form-control"
                           placeholder="请输入作业名称">
                </td>
                <td class="form-item-remark"><span id="name--tips"></span></td>


            </tr>
            <tr>
                <td class="form-item-title">
                    考试类型
                </td>
                <td>
                    <select required name="type" id="type" class="form-control">
                        <option value="1">课外作业</option>
                        <option value="2">期中作业</option>
                        <option value="3">期末作业</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    开始时间
                </td>
                <td>
                    <input required type="text" name="startTime" id="startTimeStr" maxlength="20" class="form-control"
                           placeholder="请输入开始时间" tips-id="startTime-tips" date-type="datetime"
                           onblur="checkRegular(this);">
                </td>
                <td class="form-item-remark"><span id="startTime-tips"></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    结束时间
                </td>
                <td>
                    <input required type="text" name="endTime" id="endTimeStr" maxlength="20" class="form-control"
                           placeholder="请输入结束时间" tips-id="endTime-tips" date-type="datetime"
                           onblur="checkRegular(this);">
                </td>
                <td class="form-item-remark"><span id="endTime-tips"></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    时长(分钟)
                </td>
                <td>
                    <input required type="number" name="duration" maxlength="20" class="form-control"
                           placeholder="请输入考试时长" onkeyup="keyup(this)" value="0" onblur="blurs(this)">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    判断题总分值
                </td>
                <td>
                    <input required type="number" name="trueOrFalse" maxlength="20" class="form-control"
                           placeholder="请输入判断题总分值"
                           onkeyup="keyup(this)" onblur="blurs(this)">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    单选题总分值
                </td>
                <td>
                    <input required type="number" name="single" maxlength="20" class="form-control"
                           placeholder="请输入单选题总分值"
                           onkeyup="keyup(this)" onblur="blurs(this)">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    多选题总分值
                </td>
                <td>
                    <input required type="number" name="multiple" maxlength="20" class="form-control"
                           placeholder="请输入多选题总分值"
                           onkeyup="keyup(this)" onblur="blurs(this)">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    填空题总分值
                </td>
                <td>
                    <input required type="number" name="gap" maxlength="20" class="form-control"
                           placeholder="请输入填空题总分值"
                           onkeyup="keyup(this)" onblur="blurs(this)">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    客观题总分值
                </td>
                <td>
                    <input required type="number" name="subjective" class="form-control"
                           placeholder="请输入客观题总分值"
                           onkeyup="keyup(this)" onblur="blurs(this)">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    作业总分值
                </td>
                <td>
                    <input readonly required type="text" id="score" name="score" maxlength="20"
                           class="form-control" value="0">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>


        </table>
    </form>
</div>

<script>
    laydate.render({
        elem: "#startTimeStr",
        min: time.timestamp2time(new Date() / 1000),
        type: "datetime"
    });
    laydate.render({
        elem: "#endTimeStr",
        min: time.timestamp2time(new Date() / 1000),
        type: "datetime"
    });

</script>

<script>

    function keyup(obj) {
        obj.value = obj.value.replace(/[^\d.]/g, ""); //清除"数字"和"."以外的字符
        obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字
        obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个, 清除多余的
        obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3'); //只能输入两个小数
    }

    function blurs(obj) {
        obj.value = obj.value.replace(/[^\d.]/g, ""); //清除"数字"和"."以外的字符
        obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字
        obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个, 清除多余的
        obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3'); //只能输入两个小数
        if (obj.value == "") {
            obj.value = 0;
        }
    }


    $('input[type="number"]').blur(function () {
        var valueArr = $('input[type="number"]');
        var sumValue = 0;
        if (valueArr.size() > 0 || valueArr != null) {
            for (var i = 0; i < valueArr.size(); i++) {
                if (isNaN(valueArr[i].value) || valueArr[i].value == null || valueArr[i].value == "") {
                    sumValue += 0;
                } else if (valueArr[i].name != "duration") {
                    sumValue += parseFloat(valueArr[i].value);//强制转换为数字
                }

            }
        }
        if (sumValue > 0) {
            $('#score').val(parseFloat(sumValue));
        } else {
            $('#score').val(0);
        }

    });


</script>
