<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    作业
                </td>
                <td>
                    <select name="examId" id="examId" required type="text" class="form-control"
                            onchange="exam.examInfo(this)">


                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
        </table>
        <table class="table table-bordered">

            <tbody id="examInfo" style="text-align: center">


            </tbody>
        </table>
    </form>
</div>
<script>

    function keyup(obj) {
        obj.value = obj.value.replace(/[^\d.]/g, ""); //清除"数字"和"."以外的字符
        obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字
        obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个, 清除多余的
        obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3'); //只能输入两个小数
    }

</script>
