<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">

            <tr>
                <td class="form-item-title">
                    所属学院
                </td>
                <td>
                    <select required name="academyCode" id="academyCode" class="form-control"
                            onchange="majorInfo.getCampus(this);">

                    </select>
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span></span></td>
            </tr>
<!--            <tr>-->
<!--                <td class="form-item-title">-->
<!--                    所在校区-->
<!--                </td>-->
<!--                <td>-->
<!--                    &lt;!&ndash;                    <input id="campus" disabled="true" type="text" name="campus" maxlength="20" class="form-control">-->
<!--                                        <input id="campusCode" disabled="true" type="hidden">&ndash;&gt;-->


<!--                    <input id="campus" required type="text" readonly="readonly" name="campus" maxlength="20"-->
<!--                           class="form-control" onfocus="this.defaultIndex=this.selectedIndedx;"-->
<!--                           onchange="this.selectedIndex=this.defaultIndex;">-->
<!--                    &lt;!&ndash;<option value = 0></option>&ndash;&gt;-->
<!--                    &lt;!&ndash;<option value = 1>东校区</option>&ndash;&gt;-->
<!--                    &lt;!&ndash;<option value = 2>西校区</option>&ndash;&gt;-->
<!--                    &lt;!&ndash;<option value = 3>武鸣校区</option>&ndash;&gt;-->
<!--                    </input>-->
<!--                </td>-->
<!--                <td class="form-item-remark"><span></span></td>-->
<!--            </tr>-->
            <tr>
                <td class="form-item-title">
                    专业代码
                </td>
                <td>
                    <input required type="text" name="code" maxlength="20" class="form-control"
                           tips-id="code-tips" data-type="stringcode" onblur="checkRegular(this)"
                           placeholder="请输入专业代码">
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span id="code-tips"></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    专业名称
                </td>
                <td>
                    <input required type="text" name="name" maxlength="20" class="form-control"
                           tips-id="name-tips" data-type="chinese" onblur="checkRegular(this)"
                           placeholder="请输入专业名称">
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span id="name-tips"></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    专业状态
                </td>
                <td>
                    <select required type="text" name="status" maxlength="20" class="form-control">

                        <option value=0>有效</option>
                        <option value=1>无效</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

        </table>
    </form>

</div>
