<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">

            <tr>
                <td class="form-item-title">
                    所属学院id
                </td>
                <td>
                    <input required type="text" name="academyCode" id="academyCode" class="form-control"
                           placeholder="请输入所属学院id" readonly="readonly">
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    所在校区
                </td>
                <td>
                    <p required type="text" name="campus" id="campus" maxlength="20" class="form-control"
                       readonly="readonly">

                    </p>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    专业代码
                </td>
                <td>
                    <input required type="text" name="code" id="code" class="form-control"
                           placeholder="请输入专业代码" readonly="readonly">
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    专业名称
                </td>
                <td>
                    <input required type="text" name="name" id="name" maxlength="20" class="form-control"
                           placeholder="请输入专业名称" readonly="readonly">
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    专业状态
                </td>
                <td>
                    <p required type="text" name="status" id="status" maxlength="20" class="form-control"
                       readonly="readonly">
                    </p>
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span></span></td>
            </tr>

        </table>
    </form>
</div>
