<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    账户
                </td>
                <td>
                    <input required type="text" name="account" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    名字
                </td>
                <td>
                    <input required type="text" name="name" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    电话
                </td>
                <td>
                    <input required type="text" name="phone" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    操作时间
                </td>
                <td>
                    <input required type="text" name="operationTime" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    操作
                </td>
                <td>
                    <input required type="text" name="operation" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    内容
                </td>
                <td>
                    <input required type="text" name="content" id="content" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    操作状态
                </td>
                <td>
                    <input required type="text" name="operationState" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    备注
                </td>
                <td>
                    <input required type="text" name="remark" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
        </table>
    </form>
</div>
<script>
</script>