<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    姓名
                </td>
                <td>
                    <input required type="text" name="name" maxlength="20" class="form-control">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    曾用名
                </td>
                <td>
                    <input type="text" name="oldName" maxlength="20" class="form-control">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    学号/工号
                </td>
                <td>
                    <input required type="text" name="number" maxlength="20" class="form-control">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    身份证号
                </td>
                <td>
                    <input required type="text" name="idCard" maxlength="20" class="form-control">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    性别
                </td>
                <td>
                    <select required name="sex" id="sex" maxlength="20" class="form-control">
                        <option value="">未知</option>
                        <option value="1"> 女</option>
                        <option value="2">男</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    国籍
                </td>
                <td>
                    <select required name="nationality" id="nationality" maxlength="20" class="form-control">
                        <option value="">未知</option>
                        <option value="1">中国</option>
                        <option value="2">海外</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    民族
                </td>
                <td>
                    <input required type="text" name="nationName" maxlength="20" class="form-control">

                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    出生日期
                </td>
                <td>
                    <input required type="text" name="birthdayStr" maxlength="20" class="form-control">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    出生地
                </td>
                <td>
                    <input required type="text" name="birthPlace" maxlength="20" class="form-control">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    现居住地
                </td>
                <td>
                    <input required type="text" name="presentPesidence" maxlength="20" class="form-control">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    籍贯
                </td>
                <td>
                    <input required type="text" name="originPlace" maxlength="20" class="form-control">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    手机号
                </td>
                <td>
                    <input required type="text" name="phone" maxlength="20" class="form-control">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    邮箱
                </td>
                <td>
                    <input type="text" name="email" maxlength="20" class="form-control">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    学历
                </td>
                <td>
                    <input required type="text" name="graduate" maxlength="20" class="form-control">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    学位或职称
                </td>
                <td>
                    <input required type="text" name="degree" maxlength="20" class="form-control">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    特长
                </td>
                <td>
                    <input type="text" name="specialty" maxlength="20" class="form-control">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    政治面貌
                </td>
                <td>

                    <select required name="politicalOutlook" id="politicalOutlook" class="form-control">
                        <option value=1>群众</option>
                        <option value=2>共青团员</option>
                        <option value=3>共产党员</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    所属学院
                </td>
                <td>
                    <input required type="text" name="academyName" maxlength="20" class="form-control">

                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    专业
                </td>
                <td>
                    <input required type="text" name="majorName" maxlength="20" class="form-control">

                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    支部
                </td>
                <td>
                    <input required type="text" name="departName" maxlength="20" class="form-control">

                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    班级
                </td>
                <td>
                    <input required type="text" name="myClass" maxlength="20" class="form-control">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    在读状态
                </td>
                <td>
                    <select required name="studyStatus" id="studyStatus" class="form-control">
                        <option value=0>在读</option>
                        <option value=1>毕业</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

        </table>
    </form>
</div>

